{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="{% static 'css/customer.css' %}">
    <link rel="stylesheet" href="{% static 'css/head.css' %}">
    <style>
      table, th, td {
        border: 1px solid grey;
        padding: 10px;
      }
      body
      {
        background-image: url("{% static 'assets/images/str.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
      }
      h1
      {
        color: black; 
      }
      .head
      {
        color: red;
      }

    </style>
</head>
<body >
  <!-- <body> -->

    {% include 'navbar.html' %}

    {% block content %}

    {% endblock %}


    <script src="{% static 'js/test.js' %}"></script>
    
</body>
</html>